.lightbox-auth-modal {
  align-items: center;
  //   gap: 60px;
}

.lightbox-modal__auth-data {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.auth-logo-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.auth-logo {
  margin-right: 10px;
  stroke: black;
  fill: none;
}

.auth-logo-text {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: black;
}

.lightbox-modal__form-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.lightbox-modal__auth-form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.lightbox-modal__auth-reset-btn {
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.lightbox-modal__auth-buttons {
  justify-content: center;
}

.auth-login-notify,
.auth-create-notify,
.auth-google-notify {
  z-index: 1000;
  opacity: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  min-width: 110px;
  min-height: 44px;
  text-align: center;
  font-size: 14px;
  line-height: 1.33;
  color: $secondary-text-color;
  //   background-color: rgba(255, 139, 72, 0.2);
  border: 1px solid $accent-color;
  border-radius: 10px;
  box-shadow: 0 0 10em 1em rgba(255, 139, 72, 0.6);
  @include transition(opacity);
}

.auth-login-notify {
  bottom: 0;
  left: 0;
  transform: translate(-101%, 99%);
  //   transform: translateX(-100%);
}

.auth-inputs-wrapper {
  margin-top: 20px;
  gap: 8px;
  align-self: flex-end;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.auth-login-btn-wrapper {
  position: relative;
}

.auth-create-btn-wrapper {
  position: relative;
  z-index: 1;
}

.auth-google-btn-wrapper {
  z-index: 1;
  align-self: center;
  position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}

.lightbox-modal__button-img {
  width: 36px;
  height: 36px;
}

.lightbox-modal__auth-label {
  text-transform: uppercase;
  font-size: 14px;
  color: black;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.lightbox-modal__auth-input {
  padding: 6px 12px;
  margin-left: 20px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  outline-color: $accent-color;

  &:hover {
    border-bottom: 1px solid $accent-color;
  }

  &:focus + .lightbox-modal__auth-label {
    color: $accent-color;
  }
}

@media screen and (min-width: $tablet) {
  .auth-create-btn-wrapper {
    position: relative;

    &:hover > .auth-create-notify,
    &:focus > .auth-create-notify {
      opacity: 1;
    }
  }

  .auth-google-btn-wrapper {
    position: relative;

    &:hover > .auth-google-notify,
    &:focus > .auth-google-notify {
      opacity: 1;
    }
  }

  .auth-login-btn-wrapper {
    position: relative;

    &:hover > .auth-login-notify,
    &:focus > .auth-login-notify {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $desktop) {
  .lightbox-auth-modal {
    padding: 0 60px;
  }
}
