.header__filter-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(150%);
  z-index: 10000;
  //   margin-top: 20px;
}

.header__filter-bar-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 32px;
  }
}

.filters-show-button {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(370%);
  background-color: transparent;
  border: none;

  &__icon {
    width: 20px;
    height: 20px;
    fill: $primary-text-color;
  }
}

.header__filter-bar-form {
  //   background-color: hsla(35, 100%, 50%, 0.5);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.filters {
  display: inline-flex;
  //   flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 6px;

  &__list {
    display: inline-flex;
    width: calc(50% - 4px);
    background-color: transparent;
  }

  &__item {
    background-color: transparent;
    display: inline-flex;
    width: 100%;
    min-height: 44px;
    gap: 4px;
    background-color: hsla(35, 100%, 50%, 0.4);
    padding: 12px 6px;
    border: none;
    border-radius: 12px;
    outline: none;
    color: $primary-text-color;
    text-align: center;
    // font-size: 14px;
    text-shadow: 0.5px 1.5px 1px #0f0f0f, 0.5px -0.5px 0.5px #f00;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: inset -1px -1px 3px white, inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    @include transition(transform, box-shadow, color, background-color);

    &:hover,
    &:focus {
      background-color: rgba(84, 13, 81, 0.3);
      color: $primary-text-color;
      box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
      transform: scale(1.1);
    }
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 44px;
    // margin-right: 20px;
    padding: 6px;
    border-radius: 5px;
    // border: 1.5px solid black;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    // background-color: $accent-color;
    // box-shadow: inset -1px -1px 3px white, inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: $primary-text-color;
    text-shadow: 0.5px 0.5px 1px #0f0f0f, 0.5px -0.5px 0.5px #f00;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    transform: scale(1);
    @include transition(transform, box-shadow, background-color);

    &:hover,
    &:focus {
      border: none;
      //   background-color: $accent-color;
      color: $accent-color;
      //   box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
      transform: scale(1.1);
    }

    &:hover > svg,
    &:focus > svg {
      fill: $accent-color;
    }
  }

  &__icon {
    fill: $primary-text-color;
    margin-right: 6px;
  }
}

@media screen and (min-width: $tablet) {
  .header__filter-bar {
    width: fit-content;
    display: flex;
    justify-content: center;
    transform: translate(5%, 220%);
  }

  .filters-show-button {
    width: 30px;
    height: 30px;
    transform: translateY(200%);

    &__icon {
      width: 30px;
      height: 30px;
    }
  }

  .header__filter-bar-form {
    flex-direction: row;
  }

  .filters {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &__list {
      width: fit-content;
      // padding: 12px 6px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .header__filter-bar {
    transform: translate(40%, 220%);
    // transform: translateX(-50%);
    //   margin-top: 20px;
  }

  .filters-show-button {
    width: 30px;
    height: 30px;
    transform: translateY(200%) scale(1);
    @include transition(transform, fill);

    &:hover,
    &:focus {
      transform: translateY(200%) scale(1.1);
    }

    &:hover > svg,
    &:focus > svg {
      fill: $accent-color;
    }

    &__icon {
      width: 30px;
      height: 30px;
    }
  }
}
