<header class="header">
  <div class="container container--header">
    <div class="header-wraper">
      <div class="logo-container">
        <a href="./index.html" class="logo-site">
          <svg class="logo" width="24" height="24">
            <use class="logo-icon" href="./images/icons.svg#icon-film"></use>
          </svg>
          <span class="logo__name">Filmoteka</span>
        </a>
      </div>

      <nav class="header-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a
              class="navigation-list__link site-nav__link--current"
              href="./index.html"
              >HOME</a
            >
          </li>
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="./library.html"
              >MY LIBRARY</a
            >
          </li>
        </ul>
        <ul class="navigation-buttons">
          <li>
            <button class="js-signIn-btn navigation-btn">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-sign-in"></use>
              </svg>
              &nbsp; Sign In
            </button>
          </li>
          <li>
            <button class="js-signOut-btn navigation-btn visually-hidden">
              Sign Out &nbsp;
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-sign-out"></use>
              </svg>
            </button>
          </li>
        </ul>
        <p class="js-userStatus userStatus">Hello, user</p>
        <button class="filters-show-button js-filterShow-btn" type="submit">
          <svg class="filters-show-button__icon">
            <use href="./images/icons.svg#filter"></use>
          </svg>
        </button>
      </nav>
    </div>

    <form class="header-search-form">
      <div class="form-search">
        <input
          type="text"
          name="search"
          class="search form-input"
          placeholder="Search movie by name"
        />
        <button type="submit" class="search-btn">
          <span class="search-icon"></span>
        </button>
      </div>
    </form>
    <div class="input-error js-input-error visually-hidden">
      Search result not successful. Enter the correct movie name
    </div>

    <div class="header__filter-bar is-hidden">
      <div class="header__filter-bar-container">
        <form class="header__filter-bar-form js-filters-form">
          <ul class="filters">
            <!-- <li class="filters__list">
              <input
                class="filter__input js-filter-keyword"
                type="text"
                value=""
                name="with_keywords"
              />
            </li> -->
            <li class="filters__list">
              <select
                id="mySelect"
                class="mySelect filters__item filter__category js-filter-genres"
                name="with_genres"
              >
                <option class="filters__item is-hidden" value="">Genres</option>
                <option class="filters__item" value="28">Action</option>
                <option class="filters__item" value="12">Adventure</option>
                <option class="filters__item" value="16">Animation</option>
                <option class="filters__item" value="35">Comedy</option>
                <option class="filters__item" value="80">Crime</option>
                <option class="filters__item" value="99">Documentary</option>
                <option class="filters__item" value="18">Drama</option>
                <option class="filters__item" value="10751">Family</option>
                <option class="filters__item" value="14">Fantasy</option>
                <option class="filters__item" value="36">History</option>
                <option class="filters__item" value="27">Horror</option>
                <option class="filters__item" value="10402">Music</option>
                <option class="filters__item" value="9648">Mystery</option>
                <option class="filters__item" value="10749">Romance</option>
                <option class="filters__item" value="878">
                  Science Fiction
                </option>
                <option class="filters__item" value="10770">TV Movie</option>
                <option class="filters__item" value="53">Thriller</option>
                <option class="filters__item" value="10752">War</option>
                <option class="filters__item" value="37">Western</option>
              </select>
            </li>
            <li class="filters__list">
              <select
                class="mySelect filters__item filter__category js-filter-language"
                name="with_original_language"
              >
                <option class="filters__item" value="" selected="">
                  Language
                </option>
                <option class="filters__item" value="uk">Ukrainian</option>
                <option class="filters__item" value="en">English</option>
                <option class="filters__item" value="pl">Polish</option>
                <option class="filters__item" value="fr">French</option>
                <option class="filters__item" value="de">German</option>
                <option class="filters__item" value="it">Italian</option>
                <option class="filters__item" value="es">Spanish</option>
                <option class="filters__item" value="ru">Russian</option>
                <option class="filters__item" value="ar">Arabic</option>
                <option class="filters__item" value="zh">Chinese</option>
                <option class="filters__item" value="ja">Japanise</option>
                <option class="filters__item" value="ko">Korean</option>
                <option class="filters__item" value="hi">Hindi</option>
              </select>
            </li>
            <li class="filters__list">
              <select
                class="mySelect filters__item filter__category js-filter-years"
                name="primary_release_year"
              >
                <option class="filters__item" value="" selected="">
                  Release year
                </option>
                <option class="filters__item" value="2022">2022</option>
                <option class="filters__item" value="2021">2021</option>
                <option class="filters__item" value="2020">2020</option>
                <option class="filters__item" value="2019">2019</option>
                <option class="filters__item" value="2018">2018</option>
                <option class="filters__item" value="2017">2017</option>
                <option class="filters__item" value="2016">2016</option>
                <option class="filters__item" value="2015">2015</option>
                <option class="filters__item" value="2014">2014</option>
                <option class="filters__item" value="2013">2013</option>
                <option class="filters__item" value="2012">2012</option>
                <option class="filters__item" value="2011">2011</option>
                <option class="filters__item" value="2010">2010</option>
                <option class="filters__item" value="2009">2009</option>
                <option class="filters__item" value="2008">2008</option>
                <option class="filters__item" value="2007">2007</option>
                <option class="filters__item" value="2006">2006</option>
                <option class="filters__item" value="2005">2005</option>
                <option class="filters__item" value="2004">2004</option>
                <option class="filters__item" value="2003">2003</option>
                <option class="filters__item" value="2002">2002</option>
                <option class="filters__item" value="2001">2001</option>
                <option class="filters__item" value="2000">2000</option>
                <option class="filters__item" value="1999">1999</option>
                <option class="filters__item" value="1998">1998</option>
                <option class="filters__item" value="1997">1997</option>
                <option class="filters__item" value="1996">1996</option>
                <option class="filters__item" value="1995">1995</option>
                <option class="filters__item" value="1994">1994</option>
                <option class="filters__item" value="1993">1993</option>
                <option class="filters__item" value="1992">1992</option>
                <option class="filters__item" value="1991">1991</option>
                <option class="filters__item" value="1990">1990</option>
                <option class="filters__item" value="1989">1989</option>
                <option class="filters__item" value="1988">1988</option>
                <option class="filters__item" value="1987">1987</option>
                <option class="filters__item" value="1986">1986</option>
                <option class="filters__item" value="1985">1985</option>
                <option class="filters__item" value="1984">1984</option>
                <option class="filters__item" value="1983">1983</option>
                <option class="filters__item" value="1982">1982</option>
                <option class="filters__item" value="1981">1981</option>
                <option class="filters__item" value="1980">1980</option>
                <option class="filters__item" value="1979">1979</option>
                <option class="filters__item" value="1978">1978</option>
                <option class="filters__item" value="1977">1977</option>
                <option class="filters__item" value="1976">1976</option>
                <option class="filters__item" value="1975">1975</option>
                <option class="filters__item" value="1974">1974</option>
                <option class="filters__item" value="1973">1973</option>
                <option class="filters__item" value="1972">1972</option>
                <option class="filters__item" value="1971">1971</option>
                <option class="filters__item" value="1970">1970</option>
                <option class="filters__item" value="1969">1969</option>
                <option class="filters__item" value="1968">1968</option>
                <option class="filters__item" value="1967">1967</option>
                <option class="filters__item" value="1966">1966</option>
                <option class="filters__item" value="1965">1965</option>
                <option class="filters__item" value="1964">1964</option>
                <option class="filters__item" value="1963">1963</option>
                <option class="filters__item" value="1962">1962</option>
                <option class="filters__item" value="1961">1961</option>
                <option class="filters__item" value="1960">1960</option>
                <option class="filters__item" value="1959">1959</option>
                <option class="filters__item" value="1958">1958</option>
                <option class="filters__item" value="1957">1957</option>
                <option class="filters__item" value="1956">1956</option>
                <option class="filters__item" value="1955">1955</option>
                <option class="filters__item" value="1954">1954</option>
                <option class="filters__item" value="1953">1953</option>
                <option class="filters__item" value="1952">1952</option>
                <option class="filters__item" value="1951">1951</option>
                <option class="filters__item" value="1950">1950</option>
              </select>
            </li>
            <li class="filters__list">
              <select
                class="mySelect filters__item filter__category js-filter-sort"
                name="sort_by"
              >
                <option class="filters__item" value="" selected="">
                  Sort by
                </option>
                <option class="filters__item" value="release_date.desc">
                  Release date
                </option>
                <option class="filters__item" value="revenue.desc">
                  Revenue
                </option>
                <option class="filters__item" value="vote_average.desc">
                  Average rating
                </option>
                <option class="filters__item" value="vote_count.desc">
                  Number of votes
                </option>
                <option class="filters__item" value="popularity.desc">
                  Popularity
                </option>
              </select>
            </li>
          </ul>
          <div>
            <button class="filters__button js-filter-btn" type="submit">
              <svg class="filters__icon" width="16" height="16">
                <use href="./images/icons.svg#filter"></use>
              </svg>
              Let's filter?
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="toolbar">
    <div class="theme-switch">
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle main-theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="switch theme"
        />
        <label
          aria-hidden="true"
          class="theme-switch__track"
          for="theme-switch-toggle"
        >
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
    </div>
  </div>
</header>
